.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}
.bn-header-empty{
  height: 46px;
  background-color: #60646d;
  color:#a4a8b1;
  text-align: left;
  padding-top: 10px;
}
.bn-navbar-brand{
font-weight: bold;
}
 .bn-navbar{
    background-color: #FFFFFF; 
 }
